body {
  background-color: white;
  font-family: 'Arial';
  margin: 50px;
}
#mainHeader{
  
}
.list_div {
  display: grid;
  background-color: #111;
  border-radius: 4px;
  text-align: left;
  padding: 2px 20px 20px 20px;
  margin: 20px;
}
.span_n {
  font-family: inherit;
  color: rgba(255,255,255,1.0);
}
.span_title {
  font-family: inherit;
  font-size: 32px;
  color: #febe01;
}
.list_subtitle {
  font-family: inherit;
  font-size: 24px;
  color: #b2b2b2;
}
.list_button {
  display: inline-block;
  text-align: center;
  max-width: 10%;
  padding: 5px 10px;
  background-color: #febe01;
  color: #332200;
  font-family: inherit;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
}